.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .     .     . header header header header header ."
    ". photo photo . header header header header header ."
    ". photo photo . .      .      .      .      .      ."
    ". .     .     . info   info   info   .      .      ."
    ". .     .     . .      .      .      .      .      .";
  align-items: center;
  justify-items: center;
}
.photo {
  grid-area: photo;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10%;
  background-color: lightgray;
}
.header {
  grid-area: header;
  background-color: lightgray;
}
.info {
  grid-area: info;
  background-color: lightgray;
  padding: 5%;
}

h1,
h2 {
  font-family: QuicksandBook, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  font-size: 240%;
  padding: 5%;
}

p {
  border-bottom: 1px solid #807c72;
  padding: 5px 0px 15px 0px;
  font-size: 80%;
}
