@font-face {
  font-family: Retrocycles;
  src: url(fonts/Retrocycles.woff2) format('woff2'),
       url(fonts/Retrocycles.otf) format('opentype');
}

@font-face {
  font-family: Retroica;
  src: url(fonts/Retroica.woff2) format('woff2'),
       url(fonts/Retroica.otf) format('opentype');
}

html, body {
  font-family: 'Retroica', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #42413cff;
  color: #b6c1aeff;
  font-size: 2.9vh;
  background-image: url("images/pattern.svg");
  background-size: 10%;
}

nav{
  height: 12vh;
  background-color: #2e2f27ff;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav p{
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 2%;
}

nav a{
  padding: 2vh;
  margin-right: 5%;
  font-size: 1.5rem;
  line-height: 1.2rem;
}

.fill{
  flex-grow: 1;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #b6c1aeff;
}
a:visited {
  font-weight: bold;
  color: #b6c1aeff;
}

a:hover {
  text-decoration: overline;
  color: rgb(219, 225, 215);
}

nav p:hover{
  color: rgb(219, 225, 215);
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Logo Logo Logo header header header"
    "Logo Logo Logo info info info"
    "Logo Logo Logo info info info"
    "art1 art1 art2 art2 art3 art3"
    "art1 art1 art2 art2 art3 art3"; 
  padding-left: 5%;
  padding-right: 5%;
}
.Logo { 
  grid-area: Logo; 
  padding: 2%;
}
.header { grid-area: header; padding: 2%;}
.info { grid-area: info; padding: 2%;}
.art1 { grid-area: art1; padding: 2%;}
.art2 { grid-area: art2; padding: 2%;}
.art3 { grid-area: art3; padding: 2%;}

.Logo img{
  width: 100%;
  max-height: 80%;
}

.header h1{
  font-size: 4rem;
  margin-top: 0;
  text-align: center;
  margin-bottom: 1%;
  font-family: Retrocycles;
  text-shadow: 4px 8px 2px rgba(0,0,0,0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5%;
  background-color: #2e2f27ff;
}

.card h4{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Retrocycles;
}

.card p{
  font-size: 0.8rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

@media screen and (max-width: 1200px) {
  html, body {
    font-size: 24px;
  }

  .container {  display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.2fr 1.1fr 1.2fr 0.5fr;
    grid-template-rows: 1.3fr 1.3fr 0.8fr 0.8fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Logo header header header ."
      ". info info info info ."
      ". art1 art1 art1 art1 ."
      ". art2 art2 art2 art2 ."
      ". art3 art3 art3 art3 .";
  }
  
  .Logo { grid-area: Logo; }
  
  .header { grid-area: header; }
  
  .info { grid-area: info; }
  
  .art1 { grid-area: art1; }
  
  .art2 { grid-area: art2; }
  
  .art3 { grid-area: art3; }  

  .container {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 1300px){
  html, body {
    font-size: 22px;
  }

  .header h1{
    font-size: 2.8rem;
  }

  .card{
    padding: 1%;
  }

  nav a {
    padding: 1.5vh;
    margin-right: 3%;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 640px), screen and (max-height: 640px){
  html, body {
    font-size: 18px;
  }

  .header h1{
    font-size: 3rem;
  }

  nav a {
    padding: 1.5vh;
    margin-right: 3%;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}